{% extends 'base.html.twig' %}

{% block title %}TaskSession index{% endblock %}

{% block body %}
    <h1>TaskSession index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsTaskCompleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task_session in task_sessions %}
            <tr>
                <td>{{ task_session.id }}</td>
                <td>{{ task_session.isTaskCompleted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_task_session_show', {'id': task_session.id}) }}">show</a>
                    <a href="{{ path('app_task_session_edit', {'id': task_session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_task_session_new') }}">Create new</a>
{% endblock %}
